#!/usr/bin/env bash

## Laravel
alias art="php artisan"
alias sail="bash vendor/bin/sail"

## Git
alias gs="git status"
alias gd="git diff"
alias gp="git push"
alias ga="git add"
alias gaa="git add ."
alias gup="git pull"
alias gc="git commit"
alias gec="git checkout"
alias gom="git merge"
alias gl="git log --graph"
alias nah="git reset --hard && git clean -df"
alias gwip="git add . && git commit -m \"wip\""
alias gap="git add . && git commit -m \"to be squashed\" && git squash-last"
alias gsq="git squash-last"
alias gsqn="git squash-n"

## devfsh
alias c="clear"
alias cdd="cd ~/dev"
alias cde="cd ~/dev/env"
alias cdc="cd ~/dev/code"
alias cdco="cd ~/dev/code/opencode"
alias cdcw="cd ~/dev/code/workcode"
alias cdcp="cd ~/dev/code/percode"
alias cdce="cd ~/dev/code/educode"
alias cdcpro="cd ~/dev/code/procode"

## aliases
alias edit-aliases="code ~/.aliases"
alias realias="source ~/.aliases"

## USCWeb
alias repl="uscenv exec ./bin/cli de-dev repl start"
alias composer="uscenv exec composer"

## Fuck
alias "god"=fuck