#!/usr/bin/env bash

## Laravel
alias art="php artisan"

## Git
alias gs="git status"
alias gd="git diff"
alias gp="git push"
alias ga="git add"
alias gaa="git add ."
alias gup="git pull"
alias gc="git commit"
alias gec="git checkout"
alias göm="git merge"
alias gl="git log --graph"
alias nah="git reset --hard && git clean -df"

## Vagrant
alias sun="cd ~/dev/sun"
alias cds="cd ~/dev/Homestead"
alias vm="vagrant ssh"
alias svm="vagrant up"
alias hvm="vagrant halt"
alias dvm="vagrant destroy"
alias provm="vagrant provision"

## Homestead
alias edit-homestead="atom ~/dev/Homestead/Homestead.yaml"

## devfsh
alias c="clear"
alias cdc="cd ~/dev/code"
alias cdco="cd ~/dev/code/opencode"
alias cdcw="cd ~/dev/code/workcode"
alias cdcp="cd ~/dev/code/percode"
alias cdce="cd ~/dev/code/educode"
alias cdcpro="cd ~/dev/code/procode"

## aliases
alias edit-aliases="atom ~/.aliases"
alias realias="source ~/.aliases"
